{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}    
<div class="container login">
    <div class="row justify-content-center">
		<div class="col-md-4 col-md-offset-4">
    		<div class="panel panel-default">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">Sign In</h3>
			 	</div>
			  	<div class="panel-body">
			    	<form accept-charset="UTF-8" role="form" method="POST" id="login_form">
                    {% csrf_token %}
                    <fieldset>
                        <p>{{req.username}}</p>
			    	  	<div class="form-group">
                            <input class="form-control" placeholder="Username" 
                                   required id="id_username" maxlength="15" name="username" type="text" value="{{data.username}}" />
			    		</div>
			    		<div class="form-group">
                            <input class="form-control" placeholder="Password" 
                                   required id="id_password" name="password" type="password" value="{{data.password}}" />
			    		</div>
			    		<div class="checkbox">
			    	    </div>
                        <div class="form-group">
                            {% if not success %}
								<div class="alert alert-danger">
									  Invalid username/password !please try again
								</div>
                            {% endif %}
                            {% if disabled%}
								<div class="alert alert-danger">
									 Sorry your account has been disabled, please contact admin
								</div>
                            {% endif %}
			    	    	<input class="btn btn-lg btn-success btn-block" type="submit" value="Login">
                        </div>
                        <div class="form-group">
                              <p class="text-center">Don't have account? <a href="/accounts/register/">Sign up here</a></p>
                        </div>
			    	</fieldset>
			      	</form>
			    </div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
